@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Neue&display=swap');

html,
body{
  min-height: 100%;
  margin: 0;
  font-family: 'Michroma', sans-serif;
  background:
    radial-gradient(circle at top left, rgba(0, 140, 255, 0.959), transparent 28%),
    radial-gradient(circle at bottom right, rgba(168, 38, 255, 0.884), transparent 32%),
    linear-gradient(180deg, #000000 0%, #353535 100%);
  background-attachment: fixed;
}

*{
  box-sizing: border-box;
}
