{% extends "core/base.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block contenido_metalico %}
<section class="seccion-metalica">
  <div class="container-fluid text-center text-white">

    <h1 class="hero-titulo">
      Conoce más sobre nosotros
    </h1>

    <!--<p class="hero-subtitle">
      En <strong>zeezton</strong> impulsamos la pasión por el rendimiento automotriz. 🚗💨
    </p>-->

  </div>
</section>
{% endblock %}

{% block main_content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 about-container">
            <p class="fuente-titulo">Nuestra historia</p>
            <p class="text-secondary about-text">
                zeezton nace del entusiasmo por volver a reecontrarme con la ingeniería automotriz y la personalización de vehículos.
                De joven me Hipnotizaban los autos.
            </p>

            <p class="fuente-titulo">Misión y visión</p>
            <p class="text-secondary about-text">
                Buscamos mejorar la experiencia de conducción de nuestros clientes, brindando soluciones innovadoras y confiables.
                Creemos en la excelencia, el compromiso y la constante evolución del mundo automotoriz.
            </p>

            <p class="fuente-titulo">Nuestro equipo</p>
            <p class="text-secondary about-text">
                 soy apasionado. especialista en: diseño, tecnología y mecánica.
                dedicando lo mejor de uno para cada cliente que confía en nosotros.
            </p>
        </div>
    </div>
</div>
{% endblock %}
