{% extends 'core/base.html' %}

{% block main_content %}
<div class="container mt-4">
    <h2 class="text-center">Nuestros Productos</h2>
    <div class="row">
        {% for producto in productos %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{{ producto.imagen.url }}" class="card-img-top" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">{{ producto.descripcion|truncatewords:10 }}</p>
                    <p><strong>${{ producto.precio }}</strong></p>
                    <a href="{% url 'detalle_producto' producto.pk %}" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No hay productos disponibles.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
